//Colors
$primary-color: #c8102e;
$button-hover: #e0304d;
$gray-text: #d1d1d1;
$gray-text-contrast: #949494;
$secondary-color: #2f4858;
$highlight-color: #d0f5ff;
$underline-decoration: rgba(200, 16, 46, 0.2);
$section-background: rgba(243, 243, 243, 0.7);
$gray-border: #dcdcdc;
$gray-high-contrast: #4e4e4e;
$training-section: #111111;
