.carousel {
	align-self: center;
	padding-bottom: 2rem;
	.carousel-item {
		width: 100%;
		height: 380px;
		object-fit: cover;
	}
}
@media (min-width: 768px) {
	.carousel {
		margin-left: -0.5rem;
		&__item-box {
			box-sizing: content-box;
			border-right: 0.5rem solid #fff;
			border-left: 0.5rem solid #fff;
			width: 50%;
		}
	}
}
@media (min-width: 992px) {
	.carousel {
		margin-left: -1rem;
		&__item-box {
			border-width: 1rem;
		}
	}
}
@media (min-width: 1250px) {
	.carousel {
		&__item-box {
			width: calc(33.3% - 2rem);
		}
	}
}
